SMTP_USER=suomenpaperitukku@gmail.com
SMTP_PASS=your_gmail_app_password
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_NAME=suomenpaperitukku.fi
MAIL_FROM=suomenpaperitukku@gmail.com
MAIL_TO=umut.uygur30@gmail.com
ADMIN_USER=your_admin_user
ADMIN_PASS=your_admin_password
API_PORT=8787
SITE_URL=https://suomenpaperitukku.fi
PAYTRAIL_SITE_URL=
PAYTRAIL_ACCOUNT_ID=your_paytrail_merchant_id
PAYTRAIL_SECRET=your_paytrail_secret
PAYTRAIL_ALGORITHM=sha256
